.addBtn {
    position: sticky;
    bottom: 1%;

    margin-top: 10px;

    width: 60px;
    height: 60px;

    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #9AB534;

    background-color: yellowgreen;

    color: white;
    font-size: 3em;

    line-height: 50px;
}
