@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: rgb(0, 79, 159);
    --yellow: rgb(255, 206, 68);
    --orange: rgb(243, 149, 63);
    --skyblue: rgb(161, 218, 248);
    --lightgreen: rgb(149, 194, 61);
    --green: rgb(0, 164, 112);
}

.sz-normal {
    @apply w-1/6 max-2xl:w-2/5 max-lg:w-1/2 max-sm:w-4/5;
}

.sz-half {
    @apply w-1/12 max-2xl:w-1/5 max-lg:w-1/4 max-sm:w-2/5;
}

.btn {
    @apply font-bold px-2 py-2 rounded mx-1 my-2;
}

.btn-green {
    @apply bg-[color:var(--lightgreen)] text-white;
}

.btn-green:hover {
    @apply bg-[color:var(--green)];
}

.textfield {
    @apply px-4 py-2 mx-2 my-2;
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5;
}

.div-table {
    @apply text-center border-t border-l border-black top-[30%];
}
