.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.textfield {
    display: flex;
    align-items: center;
}

.btnfield {
    display: flex;
    align-items: center;
}
