@media (max-width: 1150px){
    .icon { 
        width: 56px;
        height: 46px;
    }
}

@media (min-width: 1150px){
    .icon { 
        width: 5%;
        height: 90%;
    }
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.textfield {
    display: flex;
    align-items: center;

    width: 100%;
    height: 5%;
    
    margin: 5px;

    justify-content: center;
}

.btnfield {
    display: flex;
    align-items: center;

    width: 100%;
    height: 5%;

    justify-content: center;
}
