.menu-body {
    width: 100%;
    background-color: var(--blue);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0%; left: 0%;
}

.menu-body-height {
    height: 8%;
}

.menu-title-container {
    display: flex;
    color: white;

    margin-left: 2rem;
    margin-right: 2rem;
}

.link {
    text-decoration: none;
    color: white;
}

.menu-title {
    font-weight: 600;
    font-size: 3rem;
}

.menu-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* max-md부터 hidden */
.menu-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--skyblue);

    margin-right: 1rem;
}

.menu-text:hover {
    color: white;
}

.icon-container {
    width: 3rem;
    height: 3rem;
    margin-right: 0.2rem;
}

/* 768px 하면 둘 다 사라진다 */
@media (min-width: 769px) {
    .icon-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .menu-title {
        font-weight: 600;
        font-size: 2rem;
    }
    
    .menu-text {
        display: none;
    }

    .icon-container {
        margin-right: 1rem;
    }

    .icon {
        fill: var(--skyblue);
    }

    .icon:hover {
        fill: white;
    }
}

@media (max-width: 400px) {
    .menu-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .icon-container {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

@media (max-height: 800px) {
    .menu-body-height {
        height: 12%;
    }
}
