.common {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: gray;
    background-color: white;
}

.gridItem {
    line-height: 2rem;
    font-size: 0.5rem;
}

.gridContainer {
    border-color: gray;
    border-left: 1px solid;
    border-top: 1px solid;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(9, 1.8rem);
    grid-template-rows: repeat(19, 2rem);
}

@media (max-width: 640px) {
    
}
